<div class="container">
    <div class="d-flex justify-content-center">
        <h1>カート</h1>
    </div>
    <% if @carts.any? %>
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>画像</th>
                        <th>商品名</th>
                        <th>商品コード</th>
                        <th>単価</th>
                        <th>数量</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <% @carts.each do |cart| %>
                        <tr>
                            <td class="w-25"><img class="card-img-top" src="https://cdn.pixabay.com/photo/2023/04/20/20/22/robin-7940556_1280.jpg"></td>
                            <td><%= cart.product.name %></td>
                            <td><%= cart.product.product_code %></td>
                            <td><%= cart.product.price %></td>
                            <td><%= cart.quantity %></td>
                        </tr>
                    <% end %>
                </tbody>
            </table>
        </div>
    <% else %>
        <p>Your cart is empty.</p>
    <% end %>
</div>

