@import "bootstrap";

/* header */
header {
  background-color: lightskyblue;
}


/* products */
.product_index {
  a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 75%; /* 必要に応じて調整 */
  }
}

.product-form {
  img {
    max-width: 630px;
    width: auto;
    height: auto;
  }
  .image-preview-target {
    max-width: 630px;
    width: auto;
    height: auto;
    display: none;
  }
}