@import "bootstrap";

/* header */
header {
  background-color: lightskyblue;
}


/* products */
.product_index {
  a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 75%; /* 必要に応じて調整 */
  }
}

.product-form {
  img {
    max-width: 630px;
    width: auto;
    height: auto;
  }
  .image-preview-target {
    max-width: 630px;
    width: auto;
    height: auto;
    display: none;
  }
}

/* cart */
.confirm-btn {
  height: 50px;
}

/* paginate */
.pagination {
  display: flex;
  padding-left: 0;
  list-style: none;
  border-radius: 0.25rem;
    a, span, em {
      position: relative;
      display: block;
      padding: 0.5rem 0.75rem;
      margin-left: -1px;
      line-height: 1.25;
      color: #007bff;
      background-color: #fff;
      border: 1px solid #dee2e6;

      &:hover {
        z-index: 2;
        color: #0056b3;
        text-decoration: none;
        background-color: #e9ecef;
        border-color: #dee2e6;
      }
    }
    em {
      color: black;
    }

    &:first-child {
      a,
      span {
        margin-left: 0;
        border-top-left-radius: 0.25rem;
        border-bottom-left-radius: 0.25rem;
      }
    }

    &:last-child {
      a,
      span {
        border-top-right-radius: 0.25rem;
        border-bottom-right-radius: 0.25rem;
      }
    }

    &.active span {
      z-index: 3;
      color: #fff;
      background-color: #007bff;
      border-color: #007bff;
    }

    &.disabled span {
      color: #6c757d;
      pointer-events: none;
      background-color: #fff;
      border-color: #dee2e6;
    }
}
